.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 175px;
  box-shadow: 2px 2px 15px rgb(160, 160, 160);
  transition: box-shadow 0.3s;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 10px rgb(130, 130, 130);
  }
}